body {
  font-family: sans-serif;
  margin: 0 3rem 0 3rem;
}

h2 {
  color: maroon;
  display: inline-flex;
}

p {
  color: navy
}

label {
  margin-left: 0.5rem;
}

#loginSpan {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#digiPathTitle {
  margin-top: 0.5rem;
}

#loginSpan p {
  margin-top: 0.5rem;
  margin-bottom: 0.3rem;
}

#imgInputBtn {
  margin-bottom: 1rem;
}

#box-select {
  margin-bottom: 1rem;
}

#filePickers {
  display: inline-flex
}

#filePickers>h5 {
  padding: 0.5rem 2rem 0rem 0rem;
}

#filePickers>h6 {
  padding: 0.8rem 2rem 0rem 2rem;
}

#filePickers>hr {
  margin-top: 0rem;
}

#imageDiv {
  display: flex;
  /* flex-direction: row; */
}

.canvasDiv>div {
  position: relative;
}

#toolsDiv {
  display: flex;
  flex-direction: row;
}

#toolsDiv div:not(:first-child) {
  margin-left: 3rem;
}

#img-zoom-lens {
  position: absolute;
  display: block;
  border: 2px solid lightcoral;
  width: 150px;
  height: 150px;
}

@media only screen and (min-width: 768px) {
  #imageDiv {
    flex-direction: row;
  }
  .canvasDiv {
    width: 40%
  }
  .canvasDiv:not(:first-child) {
    margin-left: 2rem;
  }
}

@media only screen and (max-width: 768px) {
  #imageDiv {
    flex-direction: column;
  }
  .canvasDiv {
    width: 80%
  }
  #imageDiv :not(:first-child) {
    margin-top: 2rem;
  }
}