body {
  font-family: sans-serif
}

h2 {
  color: maroon;
  display: inline-flex;
}

p {
  color: navy
}

#imgInputBtn {
  margin-bottom: 1rem;
}

#box-select {
  margin-bottom: 1rem;
}

#filePickers {
  display: inline-flex
}

#filePickers_or {
  padding: 0.5rem 2rem 0 2rem;
}