body {
  font-family: sans-serif;
  margin: 0 3rem 0 3rem;
}

h2 {
  color: maroon;
  display: inline-flex;
  margin-bottom: 0rem;
}

hr {
  margin-bottom: 0.7rem;
}

p {
  color: navy
}

/* 
canvas {
  position: absolute;
} */

#tmaPath {
  margin-top: 0.5rem;
}

#loginSpan {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#loginSpan p {
  margin-bottom: 0.3rem;
}

#imgInputBtn {
  margin-bottom: 0.8rem;
}

#box-select {
  margin-bottom: 0.8rem;
}

#filePickers {
  display: inline-flex
}

#filePickers>h5 {
  padding: 0.5rem 2rem 0rem 0rem;
}

#filePickers>h6:first-child {
  display: block;
  padding: 0.8rem 2rem 0rem 0rem;
}

#filePickers>h6:not(:first-child) {
  display: block;
  padding: 0.8rem 2rem 0rem 2rem;
}

#filePickers>hr {
  margin-top: 0rem;
}

#imageDiv {
  display: flex;
  /* flex-direction: row; */
}

#toolsOuterDiv {
  visibility: hidden;
}

#toolsDiv {
  display: flex;
  flex-direction: column;
  margin-right: 0.5rem;
}

#toolsDiv>div:first-child {
  margin-top: 0.5rem;
}

#toolsDiv>div:not(:first-child) {
  margin-top: 1.5rem;
}

.tool {
  display: flex;
  flex-direction: row;
  width: fit-content;
}

.dropdown-toggle {
  height: 100%;
  padding-left:0.2rem;
  padding-right: 0.2rem;
}

.dropdown-menu {
  padding: 1rem;
}

#scrollToZoom {
  position: relative;
  margin-left: 0.5rem;
}

.loaderDiv {
  display: none;
  position: absolute;
  background-color: rgba(220, 220, 220, 0.4);
  z-index: 2;
}

.loaderImg {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#canvasParent {
  position: relative;
}


#canvasWithPickers {
  position: relative;
}

#thumbnailPicker {
  margin: 2rem 0 0 1rem;
  text-align: right;
  z-index: 5;
}

#thumbnailsList {
  overflow-y: scroll;
}

#thumbnailPageSelector {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 11px;
}

/* #imagePicker>ul {
  list-style-type: none;
  list-style-position: unset;
} */

.thumbnailDiv:not(:first-child) {
  margin-top: 0.7rem;
}

.thumbnailDiv {
  display: flex;
  flex-direction: column;
  margin-right: 0.5rem;
  cursor: pointer;
  align-items:center;
}

.imagePickerThumbnail {
  width: 5rem;
  height: 5rem;
  border: 1px solid lightpink;
  border-radius: 5px;
}

.annotationsPartlyCompletedThumbnail {
  border: 3px solid #a4d100;
}

.annotationsCompletedThumbnail {
  border: 3px solid rgb(0, 99, 0);
}

.selectedThumbnail {
  border: 2px solid dodgerblue;
}

.imagePickerThumbnailText {
  font-size: 7px;
}

.tabContainer {
  margin-left: 1.5rem;
}

.tabContainerWithMargin {
  margin-top: 0.7rem;
}

.card-header {
  padding: 0.6rem 1.25rem;
}

#boxFileManager {
  display: flex;
  flex-direction: column;
  margin-left: 0;
}

#boxFolderTree {
  position: relative;
  width: 100%;
}

#boxFileManager hr {
  margin-top: 0;
  margin-bottom: 0;
}

.boxFileMgr_subFolder {
  flex-direction: column;
  padding-left: 1rem;
  padding-right: 1rem;
}

.boxFileMgr_subFolder>button {
  width: 100%;
  text-align: left;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

#boxFileMgrHeader {
  display: flex;
  flex-direction: row;
}

.boxFileMgrHeaderBtn {
  margin-left: 1.2rem;
}

.selectedImage {
  background-color: rgba(220, 120, 190, 0.2);
}

#annotationsDiv {
  height: auto;
  display: none;
  /* border-left: 1px solid lightgray */
}

#annotationsDiv>ol>li:first-child {
  border: none;
  padding: 0;
}

#annotationsAccordion {
  display: flex;
  flex-direction: column;
}


.annotationWithMenuHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.classCardHeader {
  padding-right: 0rem;
}

.classDefinitionPopup {
  width: fit-content;
  height: 100%;
  vertical-align: middle;
  padding: 0;
  margin: 0;
}

.classificationMenuDropdown {
  z-index: 3;
  padding: 0.3rem 0;
}

.classificationMenuButtons>hr {
  margin: 0;
  padding: 0;
}

.classificationMenuOption {
  width: 100%;
  height: fit-content;
  background-color: unset;
  border: none;
}

.annotationsCard {
  width: 100%;
  overflow: visible;
}

.annotationsCardBody {
  padding-bottom: 0;
}

.qualityAnnotations {
  width: 100%;
  flex-direction: column;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.quality_othersAnnotations {
  margin-left: 0.3rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: gray;
  font-size: 1rem;
}

.qualitySelect {
  margin-bottom: 0;
}

.modelPrediction {
  background-color: rgba(180, 255, 180, 0.5);
}

.labelText.emojiText {
  font-size: 2rem;
}

.labelText.normalText {
  font-size: 1.3rem;
  /* padding: 0.3rem 0.5rem; */
}

.commentsToggleDiv {
  width: 100%;
}

.allCommentsCard {
  width: 100%;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  padding-left: 0;
  padding-right: 0;
  background-color: azure;
  height: auto;
  max-height: 10rem;
  overflow-y: scroll;
  scrollbar-width: none;
}

.allCommentsCard::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.allCommentsCard>hr {
  margin:0;
}

.annotationComment {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  vertical-align: middle;
  padding: 1rem 0.5rem;
}

.annotationComment:hover {
  background-color: rgba(225, 235, 255);
}

/* .annotationComment:first-child {
  padding-top: 1rem;
}

.annotationComment:last-child {
  padding-bottom: 1rem;
} */

.annotationCommentText {
  margin: auto 1rem;
  width: 90%;
  hyphens: auto;
}

.commentMenu {
  display: none;
}

.commentMenuToggle {
  width: 5%;
  height: fit-content;
  padding: 0;
  margin: 0.2rem;
  background-color: unset;
  border: none;
  flex: 0 1 auto;
}

.commentMenuOption {
  width: fit-content;
  height: fit-content;
  padding: 0.4rem;
  margin: 0.2rem 0.2rem 0.2rem;
  background-color: unset;
  border: none;
}

.commentMenuDropdown {
  z-index: 4;
  padding: 0.3rem;
  min-width: 1rem;
  height: fit-content;
  text-align: right;
}

.commentMenuButtons {
  display: flex;
  flex-direction: row;
}

.fa-info-circle {
  color: lightseagreen;
}

.fa-ellipsis-v {
  color: lightslategray;
}

.fa-trash-alt {
  color: lightslategray;
}

.fa-pencil-alt {
  color: lightslategray;
}

.dropdown-toggle.commentMenuToggle::before {
  display: none;
}

.dropdown-toggle::after {
  display: none;
}

.quality_addComment {
  margin-top: 2px;
}

#addAnnotationsBtn {
  padding-left: 0;
}

#toast {
  position: fixed;
  /* margin-top: -2.5rem; */
  bottom: 0;
  width: 100%;
  left: 45%;
  font-size: 18px;
  background-color: unset;
}

.toast-header {
  background-color: rgba(0, 0, 0, 0.6);
  color: rgba(250, 250, 250);
  font-weight: lighter;
}

#addAnnotationsModal {
  overflow-y: scroll;
}

#enableComments {
  width: auto;
  margin-left: 0.7rem;
}

#addLabelsToModal {
  display: none;
  flex-direction: column;
}

/* #modalLabelsList {
} */

.form-group.row {
  padding-left: 1rem;
}

.required-asterisk {
  color: red;
}

.toast {
  margin: 2rem auto;
  background-color: rgba(10, 10, 10, 0.4);
  font-size: 16px;
  color: white;
  z-index: 5;
}

#zoomLens {
  position: absolute;
  display: block;
  border: 1px solid lightcoral;
  border-radius: 10px;
  box-shadow: 0px 0px 3px 3px lightgray;
}

.btn-default.btn-on-1.active{
  background-color: #006FFC;
  color: white;
}

.btn-default.btn-off-1.active{
  background-color: seagreen;
  color: white;
}

@media only screen and (min-width: 768px) {
  #imageDiv {
    flex-direction: row;
  }

  #canvasWithPickers {
    width: 55%;
    display: flex;
    flex-direction: row;
  }

  #canvasDiv {
    width: 75%;
    margin-left: 1.5rem;
  }

  #tabsContainer {
    width: 45%;
  }
}

@media only screen and (max-width: 768px) {
  #imageDiv {
    flex-direction: column;
  }

  #canvasDiv {
    width: 80%;
  }

  #tabsContainer {
    width: 80%;
  }

  #imageDiv :not(:first-child) {
    margin-top: 2rem;
  }

  .qualitySelect {
    flex-direction: row;
  }
}